@model IEnumerable<Indepandent.Models.Block>
@{
    ViewBag.Title = "Index";
}
<div class="game text-danger">
    <div class="game-header text-left">
        <span class="glyphicon glyphicon-home"><a href="@Url.Action("Block","Frum")" class="head">游戏</a></span>
    </div>
    <div class="game-body">
        @Html.Action("Index2");
    </div>
</div>
<div class="service text-danger">
    <div class="service-header">
        <span class="glyphicon glyphicon-home"><a style="color:coral;" href="#">服务</a></span>
    </div>
    <div class="service-body">
        <div class="container">
            <div class="row">
                @foreach (var it in Model)
                {
                    <div class="col-md-4 service-base">
                        <a href="#"><h4 style="text-align:left;">@it.Blockname</h4></a>
                        <hr class="style-two" />
                        <p>@it.Block_in</p>
                    </div>
                    <div class="col-md-2">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Styles.Render("~/Content/syhstyle1");