
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SavaAs</title>
</head>
<body>
    <div>
        @ViewBag.strLocalFullPathName<Br />
        @ViewBag.strFileName<br />
        @ViewBag.strServerFilePath<br />

    </div>

    <div class="videos">
        @ViewBag.strLocalFullPathName1<Br />
        @ViewBag.strFileName1<br />
        @ViewBag.strServerFilePath1<br />
    </div>
</body>
</html>
