@model Indepandent.Models.developer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>developer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeveloperName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevelpoerPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevelpoerPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeveloperEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developertelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developertelephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeveloperImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeveloperRealName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperRealName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeveloperIntro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeveloperIntro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeveloperID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
