<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/show")
   <style type="text/css">
       img {
           width: 100%;
           display: block;
           height: auto;
           float: left;
           border: 0;
       }

       .my-navbar {
           padding: 20px 0;
           transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
       }

           .my-navbar a {
               background: transparent;
               color: #fff;
           }

               .my-navbar a:hover {
                   color: black;
                   background: transparent;
                   outline: 0
               }

           .my-navbar a {
               transition: color 0.5s ease-in-out;
           }

       .top-nav {
           padding: 0;
           background: #000;
       }

       .button.navbar-toggle {
           background-color: #fbfbfb;
       }
           .button.navbar-toggle > span.icon-bar {
               background-color: #dedede
           }
       .footer li {
           
           padding-left: 20px;
           float: left;
           list-style: none;
       }
    </style>
    
</head>
<body>
    <nav class="navbar navbar-fixed-top my-navbar" >
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a href="~/Views/Index/Index.cshtml"><h1>独立星球</h1></a>
            </div>
            <div class="collapse navbar-collapse" id="ed">
                <ul class="nav navbar-nav">
                    <li style="padding:5px 15px;">@Html.ActionLink("主页", "Index", "Index","",htmlAttributes: new { @class="navbar-link"})</li>
                    <li style="padding:5px 15px;">@Html.ActionLink("商店", "Index", "Store", "", htmlAttributes: new { @class = "navbar-link" })</li>
                    <li style="padding:5px 15px;">@Html.ActionLink("开发者", "Developer", "", htmlAttributes: new { @class = "navbar-link" })</li>
                    <li style="padding:5px 15px;">@Html.ActionLink("论坛", "Index", "frum", "", htmlAttributes: new { @class = "navbar-link" })</li>
                </ul>

               @if (Session["name"] == null)
               {
                <ul class="nav navbar-nav navbar-right">
                <li><a class="hover-effect" id="log" data-toggle="modal" data-target="#modal1">登录</a></li>
                <li><a class="hover-effect" id="reg" data-toggle="modal" data-target="#modal">注册</a></li>
                </ul>
               }
               @if (Session["name"] != null)
               {
                <ul class="nav navbar-nav navbar-right" id="dropmenu1">
                    <li class="btn-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="sess">
                            @Session["name"]
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="menuitem"><button class="btn btn-link">个人中心</button></li>
                            <li role="menuitem"><></li>

                        </ul>
                    </li>
                </ul>
               }
            </div>
        </div>
    </nav>



    <div>
        @RenderBody()
    </div>
        <hr />
        <div class="footer">
            <div class="container" style="width:370px">
             
                   <ul style="height:20px;">
                        <li><a href="#">首页</a></li>
                       <li><a href="#">商店</a></li>
                       <li><a href="#">开发</a></li>
                       <li><a href="#">论坛</a></li>
                       <li><a href="#">管理员登陆</a></li>
                    </ul>
                
            </div>
        </div>


   
    
    
    @Scripts.Render("~/bundles/bootstrap")
   
    @RenderSection("scripts", required: false)
</body>
</html>
